.column-container {
  background-color: #ebecf0;
  border-radius: 8px;
  width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 0.5rem;
}

.column-title {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #172b4d;
  margin: 0;
}

.column-task-list {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 100px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
